{% extends "base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Connexion</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Re coucou !</h6>
                                    <p class="text-muted mt-2 mb-5">Comme d'hab, un petit pseudo et un petit mot de passe te permettront d'accéder aux confessions !</p>

                                    <form method="POST">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        {% if app.user %}
                                            <div class="mb-3">
                                                Tu es déjà connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label for="inputUsername">Pseudo</label>
                                            <input type="text" value="{{ last_username }}" name="username" class="form-control" id="inputUsername" autocomplete="username" required autofocus>
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="inputPassword">Password</label>
                                            <input type="password" name="password" class="form-control" id="inputPassword">
                                        </div>

                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <button type="submit" class="btn btn-theme">Connexion</button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="rounded-right"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <p class="text-muted text-center mt-3 mb-0">Tu n'as pas encore de compte ? <a href="{{ path('register') }}" class="text-primary ml-1">Inscris toi !</a></p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
{% endblock %}
