{% extends 'base.html.twig' %}

{% block title %}Création d'une vidéo {% endblock %}

{% block body %}
    <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
            <div class="feed">
                <div class="feed__header">
                    <h2>Création d'une vidéo</h2>
                </div>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
