{% extends 'base.html.twig' %}

{% block title %}Gestion des vidéos {% endblock %}

{% block body %}
    <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
            <div class="feed">
                <div class="feed__header">
                    <h2>Liste des vidéos</h2>
                </div>

                <div class="post">
                    <table class="list-user">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for video in videos %}
                            <tr>
                                <td>#{{ video.id }}</td>
                                <td>{{ video.title }}</td>
                                <td>{{ video.categorie.name }}</td>
                                <td><a href="{{ path('admin_video_edit', {'id': video.id}) }}">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a class="btn btn-outline-primary" href="{{ path('admin_video_create') }}">Ajouter une nouvelle vidéo</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
