{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories {% endblock %}

{% block body %}
    <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
            <div class="feed">
                <div class="feed__header">
                    <h2>Catégories</h2>
                </div>

                {{ form(form) }}

                <div class="post">
                    <table class="list-user">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cat in categories %}
                            <tr>
                                <td>#{{ cat.id }}</td>
                                <td>{{ cat.name }}</td>
                                <td><a href="{{ path('admin_categories_edit', {'id': cat.id}) }}">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
