{% extends "base.html.twig" %}

{% block title %}Administration {% endblock %}

{% block body %}
<div class="feed">
    <div class="feed__header">
        <h2>Modification de {{ user.username }}</h2>
    </div>

    <div class="form">
        {{ form_start(form) }}
        <div class="form-group username">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>

        <div class="form-group lastname">
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>

        <div class="form-group firstname">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>

        <div class="form-group roles">
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles) }}
        </div>

        <div class="form-group avatar">
            {{ form_label(form.avatar) }}
            {{ form_widget(form.avatar) }}
            <img src="{{ asset('uploads/images/' ~ user.avatar) }}" alt="" class="avatar-profil">
        </div>

        {{ form_widget(form.submit) }}

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}