{% extends 'base.html.twig' %}

{% block title %}Modification de {{ category.name }}{% endblock %}

{% block body %}
    <div class="feed">
        <div class="feed__header">
            <h2>{{category.name}}</h2>
        </div>

        <div class="post">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

