{% extends "base.html.twig" %}

{% block title %}Administration {% endblock %}

{% block body %}
    <div class="feed">
        <div class="feed__header">
            <h2>Administration</h2>
        </div>

        <div class="post">
            <table class="list-user">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Avatar</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td><img src="{{ asset('uploads/images/' ~ user.avatar) }}" alt="avatar" width="80px"></td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <td><a href="{{ path('admin_edit', {'id': user.id}) }}">Modifier</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
