{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Inscription</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Coucou !</h6>
                                    <p class="text-muted mt-2 mb-5">Te voilà aux portes de WebDev & Confessions.
                                        N'hésite pas à t'inscrire pour accéder au site ! </p>
                                    <p class="text-muted mt-2 mb-5">Attention, chaque inscription doit être validée par
                                        l'admin du site. Sans ça, ton inscription sera en attente et tu ne pourra pas
                                        accéder au site. Ne t'étonne donc pas si tu ne tombes pas directement sur les
                                        confessions une fois inscrit(e)</p>

                                    {{ form_start(form) }}
                                    {% if app.user %}
                                        <div class="mb-3">
                                            Tu es déjà connecté en tant que {{ app.user.userIdentifier }}, <a
                                                    href="{{ path('app_logout') }}">Déconnexion</a>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        {{ form_label(form.username) }}
                                        {{ form_widget(form.username) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_widget(form.password) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.firstname) }}
                                        {{ form_widget(form.firstname) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.lastname) }}
                                        {{ form_widget(form.lastname) }}
                                    </div>

                                    <div class="form-group mb-5">
                                        {{ form_label(form.avatar) }}
                                        {{ form_widget(form.avatar) }}
                                    </div>

                                    <button type="submit" class="btn btn-theme">Inscription</button>
                                    {{ form_end(form) }}
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="rounded-right"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <p class="text-muted text-center mt-3 mb-0">Tu n'as pas encore de compte ? <a
                            href="{{ path('register') }}" class="text-primary ml-1">Inscris toi !</a></p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
{% endblock %}
