.post-editor,
.stream-post {
  padding: .75rem;
  background: #f7f7f9;
  border: 1px solid #eceeef;
  border-radius: .25rem;
  margin-bottom: 1.5rem
}

.stream-post {
  position: relative
}

.sp-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.sp-author .sp-author-avatar {
  display: inline-block;
  height: 64px;
  width: 64px;
  margin-right: 16px
}

.sp-author .sp-author-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%
}

.sp-author .sp-author-name {
  font-size: 1rem;
  margin: .5rem 0
}

@media (min-width:992px) {
  .sp-author {
    position: absolute;
    width: 100%;
    left: 1rem;
    top: 1rem
  }
  .sp-author .sp-author-name {
    margin: 0;
    position: absolute;
    left: 80px;
    top: 8px;
    background: rgba(0, 0, 0, .9);
    padding: .75rem 1.5rem;
    border-radius: 6px;
    z-index: -1;
    opacity: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s
  }
  .sp-author .sp-author-name>a {
    color: #fff
  }
  .sp-author .sp-author-avatar:hover+.sp-author-name {
    opacity: 1;
    z-index: 9999;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
  }
  .sp-author .sp-author-name:after {
    content: "";
    display: block;
    position: absolute;
    left: -8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid rgba(0, 0, 0, .9)
  }
}

.sp-content {
  position: relative;
  border-radius: .25rem;
  background: #fff;
  padding: 1rem;
  margin-top: 1rem
}

.sp-content .sp-info {
  font-size: .875rem;
  color: #636c72;
  position: absolute;
  top: -3rem;
  left: 80px
}

.sp-content .sp-paragraph {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem
}

.sp-content .sp-paragraph:last-child {
  margin-bottom: 0
}

.sp-content .sp-gallery img {
  margin-right: .5rem;
  margin-bottom: .5rem;
  max-width: 220px;
  max-height: 130px
}

.sp-content .sp-video {
  width: 100%;
  height: auto
}

@media (min-width:992px) {
  .sp-content {
    margin-left: 80px;
    margin-top: 0
  }
  .sp-content .sp-info {
    position: static;
    font-style: italic;
    margin-bottom: 1rem
  }
}