{% if is_granted('ROLE_DEV') %}
    <div class="profile-section-user">
        <div class="profile-cover-img"><img src="https://h2u8a9f7.rocketcdn.me/wp-content/uploads/symfony.jpg"
                                            alt=""></div>
        <div class="profile-info-brief p-3"><img class="img-fluid user-profile-avatar"
                                                 src="{{ asset('uploads/images/' ~ app.user.avatar) }}" alt="">
            <div class="text-center">
                <h5 class="text-uppercase mb-4">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
                <p class="text-muted fz-base"><a
                            href="{{ path('user_index', {'id': app.user.id}) }}">@{{ app.user.username }}</a></p>
            </div>
        </div>
        <div class="text-center">
            <ul class="list-group">
                {% for cat in categoryRepository.findTendances() %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ cat.name }}
                        <span class="badge bg-primary rounded-pill">{{ cat.counter }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
