{% if is_granted('ROLE_DEV') %}
    <div class="profile-section-main">
        <ul class="nav nav-tabs profile-tabs" role="tablist">
            <li class="nav-item"><a class="nav-link {% if route_name == 'index' %}active{% endif %}"
                                    data-toggle="tab" href="{{ path('index') }}">WebDev &
                    confessions</a></li>
            <li class="nav-item"><a class="nav-link {% if route_name == 'video' %}active{% endif %}"
                                    data-toggle="tabVideo"
                                    href="{{ path('video') }}">Vidéos</a></li>
        </ul>
    </div>
{% endif %}