{% extends 'base.html.twig' %}

{% block title %}Vidéo de cours{% endblock %}

{% block body %}
    <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
            {% for cat in categories %}
                <a href="{{ path('video_show', {'id': cat.id}) }}" class="mb-2">
                    <div class="card text-bg-dark">
                        <img src="{{ asset('uploads/images/' ~ cat.illustration) }}"
                             class="card-img" alt="Illustration de la catégorie {{ cat.name }}" style="height: 150px; object-fit: cover">
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{ cat.name }}</h5>
                            <p class="card-text"><small>Nombre de vidéo : {{ cat.videos|length }}</small></p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
