{% extends "base.html.twig" %}

{% block title %}Vidéo de la catégorie {{ categorie.name }}{% endblock %}

{% block body %}
    <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
            <div class="row">
                {% for video in videos %}
                    <div class="card" style="width: 20rem; padding:0;">
                        <video src="{{ asset('videos/' ~ video.url) }}" class="object-fit-cover" type="video/mp4"
                               controls="controls"></video>
                        <div class="card-body">
                            <h5 class="card-title">{{ video.title }}</h5>
                            <p class="card-text">{{ video.presentation }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
