.post-editor .post-field {
  width: 100%;
  height: 120px;
  resize: vertical;
  border-radius: .25rem;
  margin-bottom: .5rem;
  padding: .5rem;
  border-color: #eceeef
}

.post-editor .post-field:focus {
  box-shadow: none;
  outline: none
}