.profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (min-width:768px) {
  .profile-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }
}

body.menubar-top .profile-wrapper {
  border: 1px solid #eceeef
}

.profile-section-user {
  border-right: 1px solid #eceeef;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}

@media (min-width:768px) {
  .profile-section-user {
    -ms-flex-preferred-size: 34%;
    flex-basis: 34%
  }
}

@media (min-width:992px) {
  .profile-section-user {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%
  }
}

.profile-section-user table {
  margin-bottom: 0
}

.profile-section-user table td {
  border: none;
  padding-left: 0;
  padding-right: 0
}

.profile-section-user .img-gallery [class*=col] {
  padding-right: .25rem;
  padding-left: .25rem
}

.profile-section-user .img-gallery .row {
  margin-right: -.25rem;
  margin-left: -.25rem
}

.profile-section-user .img-gallery .g__item {
  margin-bottom: .5rem
}

.profile-cover-img img {
  width: 100%;
  height: auto
}

.profile-info-brief {
  position: relative;
  padding-top: 74px!important
}

.profile-info-brief .user-profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px)
}

.profile-section-main {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 5000px;
  flex: 0 1 5000px;
}

.profile-tabs {
  padding: .75rem 1.5rem 0;
  background: #f7f7f9;
  border-top: 1px solid #eceeef
}

.profile-tabs .nav-link {
  font-weight: 400;
  padding: .75rem 1.5rem
}

.profile-tabs .nav-link.active,
.profile-tabs .nav-link.active:focus,
.profile-tabs .nav-link.active:hover,
.profile-tabs .nav-link:active,
.profile-tabs .nav-link:focus {
  color: #60c84c
}

.profile-tabs-content .tab-pane {
  padding: 1.5rem
}

#profile-settings textarea {
  padding: 1rem;
  line-height: 1.8;
  height: 140px;
  font-style: italic
}

#profile-settings label {
  font-size: 1rem
}

#profile-settings .form-control {
  color: #818a91
}

#profile-settings .form-control,
#profile-settings .form-control:focus {
  box-shadow: none;
  outline: none
}