{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
        <div class="tab-content profile-tabs-content">
            <div class="tab-pane active" id="profile-overview" role="tabpanel">
                <div class="post-editor">
                    {{ form_start(form) }}
                    {{ form_widget(form.message) }}
                    <div class="d-flex mb-2">
                        {{ form_widget(form.image) }}
                    </div>
                    <div class="d-flex">
                        <button class="btn btn-success px-4 py-1">Se confesser</button>
                    </div>
                    {{ form_end(form) }}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            {% if type == 'danger' %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% elseif type == 'success' %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                </div>
                {% for confession in messages %}
                    <div class="stream-posts">
                        <div class="stream-post">
                            <div class="sp-author">
                                {% if confession.auteur.avatar is not null %}
                                    <a href="#" class="sp-author-avatar"><img
                                                src="{{ asset('uploads/images/' ~ confession.auteur.avatar) }}"
                                                alt=""></a>
                                {% else %}
                                    <a href="#" class="sp-author-avatar"><img
                                                src="https://static.vecteezy.com/system/resources/previews/014/033/545/original/geek-emoticon-yellow-color-free-png.png"
                                                alt=""></a>
                                {% endif %}
                                <h6 class="sp-author-name"><a
                                            href="#">{{ confession.auteur.firstname }} {{ confession.auteur.lastname }}</a>
                                </h6></div>
                            <div class="sp-content">
                                <div class="sp-info">
                                    @{{ confession.auteur.username }} posté
                                    le {{ confession.postedAt|date('d/m/Y à H:i', "Europe/Paris") }}</div>
                                <p class="sp-paragraph mb-0">
                                    {{ confession.message|raw }}
                                </p>
                                {% if confession.image is not null %}
                                    <img src="{{ asset('uploads/images/' ~ confession.image) }}" alt=""
                                         class="img-fluid">
                                {% endif %}
                            </div>
                            <div class="sp-footer">
                                <div class="sp-footer-actions">
                                    <p class="sp-footer-action">
                                        <i class="fa fa-heart"></i> 0
                                        <a href="{{ path('messages_show', {'id': confession.id}) }}"
                                           class="sp-footer-action"><i
                                                    class="fa fa-comment"></i> {{ confession.commentaires|length }}
                                        </a>
                                        {% if confession.auteur == app.user or is_granted("ROLE_ADMIN") %}
                                            {{ include('messages/_delete.html.twig') }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}