<form method="post" action="{{ path('message_delete', {'id': confession.id}) }}" onsubmit="return confirm('Are you sure you want to delete this article?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ confession.id) }}">
    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
</form>
