{% extends "base.html.twig" %}

{% block title %}Confession{% endblock %}

{% block body %}
    <div class="tab-content profile-tabs-content">
        <div class="tab-pane active" id="profile-overview" role="tabpanel">
            <div class="stream-posts">
                <div class="stream-post">
                    <div class="sp-author">
                        {% if message.auteur.avatar is not null %}
                            <a href="#" class="sp-author-avatar"><img
                                        src="{{ asset('uploads/images/' ~ message.auteur.avatar) }}"
                                        alt=""></a>
                        {% else %}
                            <a href="#" class="sp-author-avatar"><img
                                        src="https://static.vecteezy.com/system/resources/previews/014/033/545/original/geek-emoticon-yellow-color-free-png.png"
                                        alt=""></a>
                        {% endif %}
                        <h6 class="sp-author-name"><a
                                    href="#">{{ message.auteur.firstname }} {{ message.auteur.lastname }}</a>
                        </h6></div>
                    <div class="sp-content">
                        <div class="sp-info">
                            @{{ message.auteur.username }} posté
                            le {{ message.postedAt|date('d/m/Y à H:i', "Europe/Paris") }}
                            {% if message.categories is not null %}
                                dans la catégorie
                                {% for cat in message.categories %}
                                    {{ cat.name }}
                                    {% if loop.last %}
                                    {% else %}
                                        ,
                                    {% endif %}
                                {% endfor %}
                            {% endif %}</div>
                        <p class="sp-paragraph mb-0">
                            {{ message.message|raw }}
                        </p>
                        {% if message.image is not null %}
                            <img src="{{ asset('uploads/images/' ~ message.image) }}" alt=""
                                 class="img-fluid">
                        {% endif %}
                    </div>
                    <div class="sp-footer">
                        <div class="sp-footer-actions">
                            <p class="sp-footer-action">
                                <i class="fa fa-heart"></i> 0
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-editor">
                {{ form_start(form) }}
                {{ form_widget(form.message) }}
                <div class="d-flex mb-2">
                    {{ form_widget(form.image) }}
                </div>
                <div class="d-flex">
                    <button class="btn btn-success px-4 py-1">Répondre</button>
                </div>
                {{ form_end(form) }}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        {% if type == 'danger' %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% elseif type == 'success' %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>

            {% for commentaire in message.commentaires %}
                <div class="stream-posts">
                    <div class="stream-post">
                        <div class="sp-author">
                            {% if commentaire.auteur.avatar is not null %}
                                <a href="#" class="sp-author-avatar"><img
                                            src="{{ asset('uploads/images/' ~ commentaire.auteur.avatar) }}"
                                            alt=""></a>
                            {% else %}
                                <a href="#" class="sp-author-avatar"><img
                                            src="https://static.vecteezy.com/system/resources/previews/014/033/545/original/geek-emoticon-yellow-color-free-png.png"
                                            alt=""></a>
                            {% endif %}
                            <h6 class="sp-author-name"><a
                                        href="#">{{ commentaire.auteur.firstname }} {{ commentaire.auteur.lastname }}</a>
                            </h6></div>
                        <div class="sp-content">
                            <div class="sp-info">
                                @{{ commentaire.auteur.username }} posté
                                le {{ commentaire.postedAt|date('d/m/Y à H:i', "Europe/Paris") }}</div>
                            <p class="sp-paragraph mb-0">
                                {{ commentaire.message|raw }}
                            </p>
                            {% if commentaire.image is not null %}
                                <img src="{{ asset('uploads/images/' ~ commentaire.image) }}" alt=""
                                     class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="sp-footer">
                            <div class="sp-footer-actions">
                                <p class="sp-footer-action">
                                    <i class="fa fa-heart"></i> 0
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}