{% extends "base.html.twig" %}

{% block title %}Edition du profil{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-xl-10">
        <div class="card border-0">
            <div class="card-body p-0">
                <div class="row no-gutters">
                    <div class="p-5">
                        <div class="mb-5">
                            <h3 class="h4 font_weight-bold text-theme">Edition du profil</h3>
                        </div>

                        <p class="text-muted mt-2 mb-5">
                            N'hésite pas à modifier ton profil à ta guise. Et si jamais tu veux supprimer toutes tes données, <a href="mailto:trubert.alexane@orange.fr">contact l'admin du site !</a>
                        </p>

                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                {% if type == 'danger' %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% elseif type == 'success' %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                        </div>

                        <div class="form-group mb-5">
                            {{ form_label(form.avatar) }}
                            {{ form_widget(form.avatar) }}
                        </div>

                        <button type="submit" class="btn btn-theme">Enregistrer</button>

                        {{ form_end(form) }}
                        <p><a href="{{ path('index') }}">Retour à l'accueil</a></p>
                    </div>
{% endblock %}
